.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 40px;
}
.users,
.archived {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.archived {
  filter: grayscale(100%);
}

.title {
  font-size: 24px;
  margin-bottom: 44px;
  position: relative;
}

.title::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dadada;
  position: absolute;
  left: 0;
  bottom: -16px;
}
@media (max-width: 768px) {
  .users,
  .archived {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

@media (max-width: 360px) {
  .users,
  .archived {
    grid-template-columns: 1fr;
  }
}
